apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: calculator-app 
  namespace: testing 
  labels: 
    app: calculator 
spec: 
  replicas: 2 
  selector: 
    matchLabels: 
      app: calculator 
  template: 
    metadata: 
      labels: 
        app: calculator 
    spec: 
      containers: 
      - name: calculator 
        image: docker.io/diwamln/calculator:build-12-7673597 
        ports: 
        - containerPort: 80 
        resources: 
          limits: 
            cpu: "200m" 
            memory: "256Mi" 
          requests: 
            cpu: "100m" 
            memory: "128Mi" 